<h2 class="text-center bg-primary text-white">新規取引先登録</h2>

<div class="container">
  <div class="card text-center mt-3 mb-5">
    <div class="card-body">
      <h5 class="card-title text-danger">※登録前に必ずチェックボックスにチェックを入れてください。※<br>チェックを入れた取引先のみが一括で登録されます。</h5>
    </div>
  </div>

  <%= form_with model: @form, url: clients_path, method: :post, class:"input-client mb-5", local: true do |fb| %>

  <%= render partial:'error_messages', model: @form %> 
  
    <table class="table">
      <thead>
        <tr>
          <th width="80px", class="text-center h3">
            <strong>登録</strong>
          </th>
          <th class="text-center h3">
            <strong>取引先名</strong>
          </th>
        </tr>
      </thead>
      <tbody class="registration-form">
        <%= fb.fields_for :clients do |f| %>
          <tr class="item">
            <td class="text-center">
              <%= f.check_box :availability, class: 'top10 registration-checkbox' %>
            </td>
            <td>
              <%= f.text_field :name, class: 'form-control' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= fb.submit '一括登録', class: 'btn btn-primary' %>
      <%= link_to "戻る", root_path, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
