<div class="d-grid gap-5">
<h2 class="text-center bg-primary text-white">新規伝票作成</h2>

<%= render partial:'error_messages', model: @slip %> 

<div class="container">
  <%= form_with model: @slip, url: slips_path, method: :post, class:"mb-5", local: true do |fb| %>
    
    <%= render partial:'form', locals: { fb: fb } %> 

    <div class="text-center">
      <%= fb.submit '登録', class: 'btn btn-primary' %>
      <%= link_to "戻る", root_path, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
