<div class="d-grid gap-5">
<h2 class="text-center bg-primary text-white">伝票詳細</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <th>【出荷先】</th>
      <div class="form-control">
      <%= @slip.address_name %>
      </div>
    </div>
    <div class="col-md-6">
      <th>【送り主】</th>
      <p class="h2">
      <%= current_user.name %>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <th>【出荷日】</th>
      <div class="form-control">
      <%= @slip.shipping_date %>
      </div>
    </div>
    <div class="col-md-4">
      <th>【伝票番号】</th>
      <div class="form-control">
      <%= @slip.slip_number %>
      </div>
    </div>
    <div class="col-md-4">
      <th>【送り状ナンバー】</th>
      <div class="form-control">
      <% if @slip.invoice_number.present? %>
        <%= @slip.invoice_number %>
      <% else %>
        なし
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>品番</th>
        <th>色</th>
        <th>数量</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody class="bulk-registration-form">
      <% @slip.orders.each do |order| %>
        <% if order.order_number.present? %>
          <tr class="item">
            <td>
              <%= order.order_number %>
            </td>
            <td>
              <%= order.color %>
            </td>
            <td>
              <%= order.count %>
            </td>
            <td>
              <%= order.note %>
            </td>
          </tr> 
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

</div>
<div class="text-center mt-3">
  <%= link_to "PDF出力", output_slip_path(@slip.id), class: 'btn btn-danger' %>
  <%= link_to "編集", edit_slip_path(@slip.id), class: 'btn btn-primary' %>
  <%= link_to "削除", slip_path(@slip.id), method: :delete, class: 'btn btn-primary' %>
</div>
<div class="text-center mt-3">
  <%= link_to "戻る", slips_path, class: 'btn btn-success' %>
</div>  