<div class="container">
<h1>新規商品登録</h1>
<form>
  <%= form_with model: @form, url: items_path, method: :post, local: true do |form| %>
      <%= form.fields_for :items do |f| %>
        <div class="form-row">
          <div class="col">
            <%= f.check_box :availability, class:"form-control" %>
          </div>
          <div class="col">
            <%= f.text_field :item_number, class:"form-control", placeholder:"品番を入力" %>
          </div>
          <div class="col">
          <%= f.text_field :color, class:"form-control", placeholder:"商品の色を入力" %>
          </div>
        </div>
      <% end %>
    <div class="form-row center-block text-center">
      <div class="col">
        <%= form.submit "選択した商品を一括登録する"%>
      </div>
      <div class="col">
        <%= link_to "戻る", :back %>
      </div>
    </div>
  <% end %>
</form>
</div>